{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}


	<section class="showcase" style="background: url('assets/img/worldmap.png') no-repeat center; background-size: cover">
		<div class="main-title">
			<h2>Our Top Products</h2>
			<p>Consectetur adipisicing elit. Quisquam fugit ducimus, qui molestias.</p>
		</div>
		<div class="container">

    {% include 'produit/_filtre.html.twig' with {form : form} only %}
			<div class="row item">
    {% for produit in produits %}
	<div class="col-sm-6 col-md-4">
		<div class="item-grid">
			<div class="item-img" style="background-image: url('/uploads/{{produit.image}}');">	
				<div class="item-overlay">
					<a href="trip_detail.html"><span class="icon-binocular"></span></a>
				</div>
			</div>
			<div class="item-desc">
				<div class="item-info">
					<span class="icon-easy"></span>
					<h4 class="title"><a href="#">{{ produit.nom }}</a></h4>
				</div>

				<div class="sub-title">
					<span class="location">{{ produit.description }}</span>
					<span class="grade">{{ produit.etat }}</span>
				</div>

				<div class="item-detail">
					<div class="left">
						<div class="day"><span class="icon-sun"></span>{{ produit.datePublication ? produit.datePublication|date('Y-m-d') : '' }}</div>
						<div class="night"><span class="icon-moon"></span>2 Nights</div>
					</div>
					<div class="right">
						<div class="price">{{ produit.prix }}</div>
						<a href="{{path('app_reservation_new' ,{'id': produit.id})}}" class="btn btn-primary hvr-sweep-to-right">Book Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
  {% endfor %}
		
	
	

	
	

</div>	

		</div>
	</section>



{% endblock %}
